
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 47 92% 49%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 14% 34%;
    --muted-foreground: 215 5% 65%;
    --accent: 215 14% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 14% 34%;
    --input: 215 14% 34%;
    --ring: 227 35% 25%;
    --radius: 0.5rem;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-crypto-dark text-foreground;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .text-positive {
    @apply text-crypto-positive;
  }
  
  .text-negative {
    @apply text-crypto-negative;
  }

  .bg-card-hover {
    @apply hover:bg-crypto-gray transition-colors duration-200;
  }
}
